/* Estilos generales del logo */
.navbar-brand img {
    max-width: 150px;
    height: auto;
}

/* Botones flotantes de redes sociales */
.social-icons {
    position: fixed;
    right: 10px;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #3b5998;
    color: white;
    text-align: center;
    font-size: 24px;
    transition: background-color 0.3s;
}

/* Efecto hover general */
.social-icons a:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

/* Facebook */
.facebook {
    background-color: #3b5998; /* Color inicial de Facebook */
}

.facebook:hover {
    background-color: #2d4373; /* Color de hover para Facebook */
}

/* Instagram */
.instagram {
    background-color: #e4405f; /* Color inicial de Instagram */
}

.instagram:hover {
    background-color: #bc2a8d; /* Color de hover para Instagram */
}

/* WhatsApp */
.whatsapp {
    background-color: #25d366; /* Color inicial de WhatsApp */
}

.whatsapp:hover {
    background-color: #1ebe57; /* Color de hover para WhatsApp */
}

.pdf-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #054c09;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    padding-top: 20px;
}


/* Estilos de las cards */
.pdf-card-container {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding: 60px;
    grid-template-columns: repeat(1, 1fr);
}



.pdf-card {
    background-color: #3b5998;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.pdf-card embed {
    width: 100%;
    height: 485px;
    object-fit: cover;
    margin-bottom: 15px;
}

.pdf-card button {
    background-color:  #E0C023;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 100%;
}

.pdf-card button:hover {
    background-color: #04680d;
}



/* Estilos del visor PDF (modal) */
.pdf-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 900px;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.pdf-modal iframe {
    width: 100%;
    height: 85%;
    border-radius: 8px;
    border: none;
}

.pdf-modal .close-pdf {
    background-color:  #E0C023;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pdf-modal .close-pdf:hover {
    background-color: #c9302c;
}

.pdf-modal .download-pdf {
    background-color:   #E0C023;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.pdf-modal .download-pdf:hover {
    background-color: #449d44;
}

.pdf-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
    display: none;
}

.pdf-frame-computer {
    display: none;
    width: 100%;
    height: 300px;
}

.pdf-preview {
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .pdf-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .pdf-card {
        height: auto;
    }

    .pdf-card embed {
        height: 150px;
    }

    .pdf-card button {
        padding: 8px;
    }
    .custom-contenedor {
        padding-top: 20px; /* Añade espacio entre el nav y el contenedor principal */
    }
    
}

@media (min-width: 768px) {
    .pdf-preview {
        display: none;
    }
    .pdf-frame-computer {
        display: block;
    }
}

@media (max-width: 767px) {
    .pdf-frame-computer {
        display: none;
    }
}

/* Media query para pantallas específicas como el iPhone 5 */
@media (min-width: 320px) and (max-width: 640px){


    .social-icons {
        position: static; /* Colocar debajo de las tarjetas */
        flex-direction: row; /* Íconos en fila */
        justify-content: center;
        margin-top: 10px; /* Espacio superior para separación */
        margin-bottom: 20px; /* Espacio inferior para separación */
    }

    .social-icons a {
        width: 40px; /* Iconos más pequeños */
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 1280px) {
    .custom-contenedor {
        padding-top: 150px; /* Añade espacio entre el nav y el contenedor principal */
    }
    .pdf-modal {
      margin-top: 60px;
    }
}

/* Ajustar el tamaño del carrusel */
.carousel {
    width: 100%; /* Mantiene el carrusel al 100% del contenedor */
    max-width: 800px; /* Ancho máximo del carrusel */
    height: 400px; /* Altura fija del carrusel */
    margin: auto; /* Centra el carrusel */
    border-radius: 10px; /* Bordes redondeados del carrusel */
    overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */
    position: relative; /* Posicionamiento relativo para manejar el contenido interno */
}

/* Imagen dentro del carrusel */
.carousel-inner img {
    width: 100%; /* Ajusta el ancho para que no se salga del carrusel */
    height: 400px; /* Ajusta la altura para que ocupe todo el carrusel */
    object-fit: contain; /* Asegura que la imagen mantenga su proporción sin ser recortada */
    border-radius: 10px; /* Bordes redondeados también para las imágenes */
    display: block; /* Asegura que la imagen sea tratada como bloque dentro del contenedor */
    margin: auto; /* Centra la imagen dentro del contenedor del carrusel */
}


/* Separación entre el nav y el contenedor principal */
.custom-contenedor {
    padding-top: 50px; /* Añade espacio entre el nav y el contenedor principal */
}

